## Redefining Field Variables

In [2]:
import os
import pandas as pd

In [10]:
def read_file_with_encoding(file_path):
    encodings = ['utf-8', 'latin1', 'ISO-8859-1', 'cp1252']
    
    for encoding in encodings:
        try:
            df = pd.read_csv(file_path, encoding=encoding)
            return df
        except UnicodeDecodeError:
            continue
    
    raise ValueError(f"Failed to decode {file_path} with available encodings.")

In [11]:
# Define the directory of files (you should modify it to match your local directory)
directory = "../simulacrum_release_v1.2.0.2017/data/"
files = os.listdir(directory)

for file_name in files:
    file_path = os.path.join(directory, file_name)
    
    try:
        # Read the file with encoding handling
        df = read_file_with_encoding(file_path)
        
        # Convert column names to lowercase
        df.columns = [col.lower() for col in df.columns]
        
        # Save the updated file
        df.to_csv(file_path, index=False)
        
        print(f"Successfully processed and saved: {file_name}")
    except Exception as e:
        print(f"Error processing {file_name}: {e}")

Successfully processed and saved: .DS_Store
Successfully processed and saved: sim_av_patient.csv
Successfully processed and saved: sim_sact_outcome.csv
Successfully processed and saved: sim_sact_drug_detail.csv
Successfully processed and saved: sim_sact_patient.csv

/var/folders/wm/5g809ssj2tbbh5kq8m3h9v5m0000gn/T/ipykernel_32140/3401075425.py:6: DtypeWarning: Columns (5,6,8,9,17,18,20,22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding=encoding)

Successfully processed and saved: sim_av_tumour.csv
Successfully processed and saved: sim_sact_tumour.csv

/var/folders/wm/5g809ssj2tbbh5kq8m3h9v5m0000gn/T/ipykernel_32140/3401075425.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding=encoding)

Successfully processed and saved: sim_sact_cycle.csv
Successfully processed and saved: sim_sact_regimen.csv

In [13]:
av_patient = pd.read_csv(os.path.join(directory, 'sim_av_patient.csv'))
av_patient

,patientid,sex,linknumber,ethnicity,deathcausecode_1a,deathcausecode_1b,deathcausecode_1c,deathcausecode_2,deathcausecode_underlying,deathlocationcode,newvitalstatus,vitalstatusdate
0,10000001,1,810000001,Z,NaN,NaN,NaN,NaN,NaN,NaN,A,2019-02-08
1,10000002,1,810000002,A,I259,NaN,NaN,I509,I259,4,A,2019-02-08
2,10000003,1,810000003,Z,NaN,NaN,NaN,NaN,NaN,NaN,A,2019-02-08
3,10000004,2,810000004,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2018-01-06
4,10000005,1,810000005,A,NaN,NaN,NaN,NaN,NaN,NaN,A,2019-02-06
...,...,...,...,...,...,...,...,...,...,...,...,...
2200621,330025052,1,1130025052,A,J189,NaN,NaN,C140,C349,1,D,2018-10-18
2200622,330025053,1,1130025053,A,T810,NaN,NaN,NaN,C920,1,A,2019-02-08
2200623,330025054,2,1130025054,A,J180,NaN,NaN,C921,C920,1,D,2017-04-13
2200624,330025055,1,1130025055,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-01-17
2200625,330025056,2,1130025056,A,C809,"C499,C780,C795",NaN,NaN,J440,6,A,2019-02-09